h1{
		font-weight:bold;
		text-transform:uppercase;
		letter-spacing:2px;
		word-spacing:4px;
		font-family:goudy stout,cambria,verdana,tahoma,calibri;
		color:#252B48;
}
body {
	/*background:#5B9A8B;*/
	background-image:url('../images/vertikal.png');
	background-position:top left;
	background-repeat:no-repeat;
	background-attachment:fixed;
	/*
	margin-left:2cm;
	margin-right:2cm;
	*/
	/*margin:0.5cm 3cm;/*pasangan 0,5 atas bawah 2 kiri kanan */
	margin:1cm 2cm 1cm 4.5cm; /*searah jarum jam*/
}
legend, fieldset {
	border:10px outset #F7E987;
	border-radius:30px;
	color:#435334;
	background-color:#CEDEBD;
	padding:10px;
	background-image:linear-gradien
}

p,li,h3{
	text-align:justify;
	color:#F7E987;
	line-height:20px;
	font-size:12pt;
}
p.p6 {
	color:#435334;
	text-align:justify;
	text-indent:0;
}
ul#pemrograman {
	list-style:square;
}
ul#office {
	list-style:disc;
}
ol.python {
	list-style-image:url('../images/emote.gif');
}
.kursus {
	list-style-type:lower-alpha;
	
}
#menu {
	text-align:center;
}
/*belajar pseude class*/
a:link, a:visited {
	font-weight:bold;
	text-decoration:none;
	color:#435334;
	border:2px solid red;
	background-color:yellow;
	padding:5px;
}
a:hover{
	font-weight:bold;
	text-decoration:none;
	color:red;
	border:2px dashed black;
	background-color:greenyellow;
}
a:active {
	font-weight:bold;
	text-decoration:none;
	color:yellow;
	border:1px dotted red;
	background-color:orange;
	padding:5px;
}
.p5:first-letter{
	text-indent:0cm;
	font-size:50pt;
	color:red;
	font-weight:border;
	float:left;
}
.p5:first-line{
	text-indent:0cm;
	color:yellow;
	font-style:italic;
}

a.link_gambar:link,a.link_gambar:visited {
	text-decoration:none;
	color:none;
	border-width:0px;
	background-color:#5B9A8B;
}
a.link_gambar:hover {
	text-decoration:none;
	color:none;
	border-width:0px;
	background-color:#5B9A8B;
}
@font-face {
  font-family: myBackyard;
  src: url('backyard.otf');
}

*{ /* universal untuk seluruh selector */
  font-family: myBackyard;
}

.tooltip {
	position: relative;
	display:inline-block;
	border-bottom:1px dotted black;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
